.frontpage{
  width: 100%;
  background-image: url("images/webdevo.jpg");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fptext {
  text-align: center;
  position: relative;
  top: 250px;
}
#name {
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;;
  font-weight: 400;
  color: black;
  border-bottom: 2px solid white;
}
#title {
  font-size: 1.5em;
  color: black;
  font-family: 'Oswald', sans-serif;;
}
.box {
  background-color:
#898b8f;
}
.border {
  padding-bottom: 20;
  width: 75%;
  margin: 0 auto;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 450px;
}
.margintop {
  margin-top: 10px;
}
.projects {
  text-align: center;
  font-size: 2.0em;
  font-family: 'Oswald', sans-serif;
}

.coming {
  margin: 0 auto;
  background-color: white;
  background-image: url("images/comingsoon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin-top: 10px;
}
.hover {
  margin: 0 auto;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin-top: 10px;
}
.hover img {
  width: 330px;
  height: 300px;
  margin: 0 auto;
  padding-top: 25px;
}
.landingtxt {
  padding-top: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}
.marginbottom {
  margin-bottom: 10px;
}
a:hover {
  text-decoration: none;
  color: black;
}
a {
  color: black;
}
.section2 {
  background-color: #e6e6e6;
}
#portrait {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url("images/bw_portrait.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#portraittxt {
  text-align: center;
}
#name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}
#student {
  font-style: italic;
}
#aboutme {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
#aboutme p{
  padding: 10px;
}
.paddleboard img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
        }
.section3 {
  background-color:#e6e6e6;
  text-align: center;
}
.glyphicon {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}
.emailadd {
  padding-left: 10px;
  display: inline;
  font-style: italic;
}
.links img{
  width: 75px;
  height: 75px;
  opacity: 1.0;
}
.footer {
  height: 50px;
  background-color: #666;
  width: 100%;
}
.footer p{
  color: white;
  padding-top: 15px;
  padding-left: 5px;
}
.blogcontainer {
  margin: 0 auto;
  width: 500px;
}
.blogcontainer img{
  width: 500px;
  height: 150px;
}
.blogp {
  text-align: center;
  padding-bottom: 5px;
}
#blogbtn{
  margin: 0 auto;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #666;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 1.0;
}
#blogbtn p{
  color: white;
  font-size: 1.5em;
  padding-top: 10px;
}
.navbar-brand img{
  width: 100px;
  height: 40px;
  position: relative;
  bottom: 10px;
}
